@charset "UTF-8";

/* POPOVERS */

/* ITENS MANUAIS */
.itensManuaisPopover{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;

    display: none;
    justify-content: center;
    align-items: center;
}
#itensManuais{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 50%;
}